name: my-project

services:
  db:
    image: mysql:8.0
    ports:
      - 3306:3306
    environment:
      - MYSQL_DATABASE=my-project
      - MYSQL_ROOT_PASSWORD=letmein
    volumes:
      - mysql:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin
    environment:
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=letmein
    ports:
      - 8080:80

volumes:
  mysql: